@charset "Uft-8";

*{
    font-family: Arial, Helvetica, sans-serif;

}
body{
    background-image: linear-gradient(to right, #3BDB9F, #3BADDB);

}
main{
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #246a85b8;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #3B49DB;
    text-align: center;
    text-shadow: 1px 1px 2px #1e2571bd;
}

h2{
    color: #3B7BDB ;
}

p{
    text-align: justify;
}
